{% extends 'base.html' %}

{% block sesion %}
<a class="nav-link text-uppercase text-expanded" href="{% url 'login' %}">Bienvenido {{ cliente.nombre }} </a>
{% endblock sesion %}
<div class="container my-4">




    {% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container box login" style="">
        <h3 class="my-4 border-bottom pb-1" ><font color="black">Agendar cita</font></h3>
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-1">Agendar cita</button>
    </div>


</form>
</div>


{% endblock content %}