{% extends 'base.html' %}

{% block sesion %}
<a class="nav-link text-uppercase text-expanded" href="{% url 'login' %}">Bienvenido {{ cliente.nombre }} </a>
{% endblock sesion %}

{% block content %}


<main class="container my-4">
    <!-- Featured Products -->
    <h3 class="my-4 border-bottom pb-1"><font color="white">Productos</font></h3>
    <div class="row">
        {% for servicio in servicios %}
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <a href=""><img src="{{ servicio.foto.url }}" class="card-img-top" alt="{{servicio.nombre}}"></a>
                <div class="card-body">
                    <h5 class="card-text"><a href="">{{ servicio.nombre}}</a></h5>
                    <h6>$ <span class="">{{ servicio.precio }}</span></h6>
                </div>
                <div class="card-footer">
					<!--{{servicio.id}}-->
                    <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty"/>
                    <input type="hidden" class="product-image-{{product.id}}"
                           value="{{product.productattribute_set.first.image}}"/>
                    <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}"/>
                    <input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}"/>
                    {% if user.is_authenticated %}
                    <button class="btn btn-sm btn-success add-to-cart" data-index="{{product.id}}">
                        Comprar producto
                    </button>

                    {% else %}
                    <a class="btn btn-sm btn-primary" href="../login">Comprar producto</a>
                    {% endif %}
                    <span class="float-right">
			  		4.5/5
			  		<i class="fa fa-star text-warning"></i>
			  	</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}