{% extends 'base.html' %}

{% block sesion %}
<a class="nav-link text-uppercase text-expanded" href="{% url 'login' %}">Bienvenido {{ cliente.nombre }} </a>
{% endblock sesion %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container box login">

        <div class="form-group">
            {{ form.as_p }}
        </div>

        {% if user.is_authenticated %}
            <button type="submit" class="btn btn-info">Editar perfil</button>
        {% else %}
            <button type="submit" class="btn btn-info">Iniciar sesion</button>
        {% endif %}
    </div>
</form>
{% endblock content %}